
* {
    margin: 0;
}

body {
    background: #f4f4f4;
}

#header-section {
    height: 390px;
    width: 100%;
    border: 1px #7300ff solid;
    background: #6943ff;  /* real color */
    color: white;
    text-align: center;
}

    #header-section h3 {
        height: 20px;
        font-size: 40px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 60px;
    }

    #header-section input {
        border: 1px white solid;
        border-radius: 8px;
        width: 120px;
        height: 80px;
        font-size: 70px;
        font-weight: bolder ;
        text-align: center;
        margin: auto;
        padding: 30px;
    }

    #header-section button {
        height: 100%;
        margin: 60px 0;
        padding: 10px 30px;
        background: white;
        border: none;
        border-radius: 6px;


    }

#main-section {
    background: #f4f4f4;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.convert-section {
    background-color: white;
    width: 40%;
    height: 100px;
    text-align: center;
    margin: 0 0 40px 0;
    text-align: center;
    border-radius: 9px;
}

.convert-section h4{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 25px;
    color: #7300ff;
}

